#components-layout-demo-custom-trigger .trigger {
  font-size: 22px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.site-layout {
  width: 100%;
  height: calc(100vh - 64px);
}
.ant-menu {
  font-size: 18px !important;
}
.ant-layout-sider-children {
  background: #fff;
}
.outHeader {
  display: flex;
}
.tog {
  flex: 1;
}
.search {
  flex: 18;
}
